@charset "utf-8";
/* CSS Document */
/* 产品分类 */
.products .leftArea{
	width: 185px;
}
.products .rightArea{
	width: 810px;
}
.leftNav{
	background-color: #F3F3F3;
	border: #D7D7D7 solid 1px;
}
.nav_title{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-family: "宋体";
	border-bottom: #D7D7D7 solid 1px;
	text-align: center;
}
.nav_cont{
	padding: 0 18px 4px;
	border-bottom: #D7D7D7 dotted 1px;
	margin-bottom: -1px;
}
.nav_cont h3{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.navCont_list{
	line-height: 25px;
}
.navCont_list li{
	float: left;
	width: 50%;
}
.vertical li{
	width: auto;
	float: none;
	padding-left: 10px;
}
.vertical .nav_title,
.vertical .nav_cont h3{
	font-family: "微软雅黑";
	font-size: 14px;
}
/* 筛选 */
.screening{
    border-bottom: #CCC solid 1px;
    font-family: Verdana;
}
.screening dt{
	line-height: 32px;
	width: 74px;
	text-align: right;
	float: left;
	margin-right:42px; 
}
.limit{
	width: 55px;
	float: left;
	line-height: 32px;
}
.screening .active{
	background-color:#1D7AD9;
	color: #FFF; 
}
.screening a{
	padding: 2px;
}
.screening_list{
	line-height: 32px;
	width: 626px;
	float: left;
}
.screening_list li{
	width: 20%;
	float: left;
}
.screen_more{
	border: #CCC solid 1px;
    height: 23px;
    line-height: 23px;
    margin-top: 4px;
    float: left;
    padding-right: 11px;
    padding-left: 11px;
    margin-right: 10px;
}
.screen_more a{
	background: url('../images/icon/sj_grey.gif') right center no-repeat;
	padding-right: 14px;

}
.addInfo{height:31px; border:#CCC solid 1px; background-color:#F5F5F5;}
.address{float:left;}
.add_text{float:left; line-height:31px; padding-left:12px; padding-right:6px;}
.addInfo .select{margin-top:4px;}
.screen_text{line-height:31px; padding-right:80px;}
.check{position:relative; top:-1px; _top:4px;}
.shop_number{position:relative; _top:4px;}
.check input,
.check label{vertical-align:middle;}
.shop_number em{color:#F00; font-style:normal; font-weight:bold;}
/*组件*/
.select{border:#999 solid 1px; height:22px; line-height:22px; float:left; background-color:#FFF; padding-left:10px; padding-right:20px; position:relative; z-index:4;}
.select h3{font-size:12px; font-weight:normal;}
.select span{position:absolute; right:0; top:0; height:100%; width:20px; background:url(../images/icon/sj_blue.jpg) center center no-repeat;}
.show_select{position:absolute; left:-1px; top:22px; background-color:#FFF; width:100%;border:#999 solid 1px; display:none;}
.show_select li{padding-left:10px;}
.screening_list_more{padding-left:0.5%;}
.screening_list_more .item{width:33.3%;}
.addCar{border:#999 solid 1px; height:22px; line-height:22px; display:inline-block; padding:0 6px 0 23px; background:url(../images/icon/car.jpg) 6px center no-repeat;}


.hr_7{
	height: 7px;
	overflow: hidden;
}
.hr_15{
	height: 15px;
	overflow: hidden;
}
.products .banner_bar{
	float: none;
}
.products .item{
	margin-bottom: 10px;
}
.products_title{
	height: 34px;
	border-bottom: #CCCCCC solid 2px;
}
.products_title h3{
	width: 180px;
	border-bottom: #096DBA solid 2px;
	height: 34px;
	text-indent: 9px;
	line-height: 34px;
}
/* 商品 */
.item{
	float: left;
}
.item_cont{
	padding: 0 15px;
}
.img_item{
	height: 170px;
	text-align: center;
}
.img_item img{
	height: 170px;
}
.item p{
	line-height: 20px;
}
.item a{
	color: #000;
}
.item a:hover{
	text-decoration: underline;
}
.money{
	color: #D4105A;
	font-weight: bold;
	padding-top: 10px;
}
.stars{
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url('../images/icon/collection.jpg') left top no-repeat;
	display: inline-block;
	margin-right: 1px;
}

/* 分页page*/
.page{
	text-align: center;
	position: relative;
	z-index: 2;
}
.page a{
	height: 24px;
	display: inline-block;
	line-height: 24px;
	padding: 0 12px;
	border: #CCC solid 1px;
	margin: 0 2px;
}
.page .hl{
	display: inline-block;
	padding: 0 12px;
	margin: 0 2px;
}
.morePage{
	padding-left: 14px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.pageNum{
	width: 30px;
	border: #CCC solid 1px;
	height: 24px;
	line-height: 24px\9;
	text-align: center;
	padding: 0 3px;
	margin-left: 4px;
}
.page_btn{
	width: 44px;
	height: 24px;
	line-height: 24px;
	background-color: #E8E8E8;
	border: #CCC solid 1px;
}
.page a,
.page span,
.page input{
	vertical-align: middle;
	position: relative;
}