@charset "utf-8";
/* CSS Document */
/* 产品分类 */
.products .leftArea{
	width: 185px;
}
.products .rightArea{
	width: 810px;
}
.leftNav{
	background-color: #F3F3F3;
	border: #D7D7D7 solid 1px;
}
.nav_title{
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-family: "宋体";
	border-bottom: #D7D7D7 solid 1px;
	text-align: center;
}
.nav_cont{
	padding: 0 18px 4px;
	border-bottom: #D7D7D7 dotted 1px;
	margin-bottom: -1px;
}
.nav_cont h3{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
}
.navCont_list{
	line-height: 25px;
}
.navCont_list li{
	float: left;
	width: 50%;
}
.hr_7{
	height: 7px;
	overflow: hidden;
}
.hr_15{
	height: 15px;
	overflow: hidden;
}
.products .banner_bar{
	float: none;
}
.products .item{
	width: 25%;
	margin-bottom: 10px;
}
.products_title{
	height: 34px;
	border-bottom: #CCCCCC solid 2px;
}
.products_title h3{
	width: 180px;
	border-bottom: #096DBA solid 2px;
	height: 34px;
	text-indent: 9px;
	line-height: 34px;
}
/* 商品 */
.item{
	float: left;
}
.item_cont{
	padding: 0 15px;
}
.img_item{
	height: 170px;
	text-align: center;
}
.img_item img{
	height: 170px;
}
.item p{
	line-height: 20px;
}
.item a{
	color: #000;
}
.item a:hover{
	text-decoration: underline;
}
.money{
	color: #D4105A;
	font-weight: bold;
	padding-top: 10px;
}
.stars{
	width: 13px;
	height: 12px;
	overflow: hidden;
	background: url('../images/icon/collection.jpg') left top no-repeat;
	display: inline-block;
	margin-right: 1px;
}